{% extends 'blog/base.html' %}


{% block content %}
<!-- Blog Entries Column -->
<h3 class="my-4"> Posts
    <small class="text-muted"> {% if filtered_category %}   -{{ filtered_category }} {% elif filtered_tag %}  #{{ filtered_tag }}  {% else %}  {% endif %} </small>
</h3>

<!-- There is no Post -->
{% if object_list.exists %}

<!-- Blog Post -->
{% for p in  object_list %}
<div class="card mb-4" id="post-card-{{ p.pk }}">
    {% if p.head_image %}
    <img class="card-img-top" src="{{ p.head_image.url }}" width="750"  height="350" alt="Card image cap">
    {% else %}
    <img class="card-img-top" src="https://picsum.photos/750/300?random=1" alt="Card image cap">
    {% endif %}

    <div class="card-body">
        {% if p.category %}
        <span class="badge badge-primary float-right">{{ p.category }}</span>
        {% else %}
        <span class="badge badge-primary float-right">No Category</span>
        {% endif %}
        <h2 class="card-title"> {{ p.title }}  </h2>
        <p class="card-text"> {{  p.get_markdown_content | safe | truncatewords:50 }} </p>
        {% for t in p.tags.all %}
        <a href="{{ t.get_absolute_url }}">#{{ t }}</a>
        {% endfor %}
        <p></p>
        <button class="btn btn-outline-primary btn-sm" onclick="location.href='{{ p.get_absolute_url }}'" type="button" id="read-more-post-{{ p.pk }}">Read More</button>
    </div>


    <div class="card-footer text-muted">
        <h5> {{ p.created }} by {{ p.author }}</h5>
    </div>

</div>
{% endfor %}
{% else %}
<h4>No pages</h4>
{% endif %}
{% endblock %}
