{% extends 'blog/base.html' %}

{% block content %}
<!-- Blog Entries Column -->
<h1 class="my-4">Blog
    <small> : django test on bootstrap</small>
</h1>

<!-- There is no Post -->
{% if object_list.exists %}

<!-- Blog Post -->
{% for p in  object_list %}
<div class="card mb-4">
    {% if p.head_image %}
    <img class="card-img-top" src="{{ p.head_image.url }}" width="750"  height="350" alt="Card image cap">
    {% else %}
    <img class="card-img-top" src="https://picsum.photos/750/300?random=1" alt="Card image cap">
    {% endif %}
    <div class="card-body">
        <h2 class="card-title"> {{ p.title }}  </h2>
        <p class="card-text"> {{  p.content  | truncatewords:50 }} </p>
    </div>
    <button class="btn btn-primary btn-sm" onclick="location.href='{{ p.get_absolute_url }}'" type="button" id="read-more-post-{{ p.pk }}">Read More</button>
    <div class="card-footer text-muted">
        <h5> {{ p.created }} by {{ p.author }}</h5>
    </div>
</div>
{% endfor %}
{% else %}
<h4>No pages</h4>
{% endif %}
{% endblock %}
