{% extends 'blog/base.html' %}

{% block title %}{{ object.title }} - Blog{% endblock %}

{% block content %}
<!-- Title -->
<h2 class="mt-4">{{ object.title }}</h2>

<!-- Content Category -->
<p>
{% if object.category %}
<span class="badge badge-primary float-right">{{ object.category }}</span>
{% else %}
<span class="badge badge-primary float-right">No Category</span>
{% endif %}
</p>

<!-- Author --> <!-- Date/Time -->
<p>
    Posted on {{ object.created }}  by
    <a href="#">{{ object.author }}</a>
</p>

<hr>
<p>
<!-- Preview Image -->
{% if object.head_image %}
<img class="card-img-top" src="{{ object.head_image.url }}" width="750"  height="350" alt="Card image cap">
{% else %}
<img class="card-img-top" src="https://picsum.photos/750/300?random=1" width="750"  height="350" alt="Card image cap">
{% endif %}
</p>

<!-- Post Content -->
<div>{{ object.get_markdown_content | safe }} </div>

<!-- edit button -->
<p>

{% ifequal request.user object.author %}
    <button type="button" class="btn btn-outline-primary c btn-sm">EDIT</button>
{% else %}
    {% if  request.user.text == admin %}
        <button type="button" class="btn btn-outline-primary float-right btn-sm" onclick="location.href=' {{ object.get_update_url }} '">EDIT</button>
    {% endif %}


{% endifequal %}
</p>

<!-- Tags -->
<p>
{% for t in object.tags.all %}
<a href="{{ t.get_absolute_url }}">#{{ t }}</a>
{% endfor %}
</p>


<hr>

{% load crispy_forms_tags %}
<!-- Comments Form -->
<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
        <form method="post" action="{{ object.get_absolute_url}}new_comment"> {% csrf_token %}
            <div class="form-group">
                {{ comment_form | crispy }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<!-- My Comment -->
<div id="comment-list">
    {% for c in object.comment_set.all %}
    <div class="media mb-4" id="comment-id-{{ c.pk }}">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">{{ c.author }} <small class="text-muted">{{ c.created_at }}</small></h5>
                        {% ifequal request.user c.author %}
            <div class="media mb-4 float-right">
                <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href=' '">edit</button>
                <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='  '">delete</button>
            </div>
            {% endifequal %}
            <div>
            {{ c.text }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!--&lt;!&ndash; Comment with nested comments &ndash;&gt;-->
<!--<div class="media mb-4">-->
<!--    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
<!--    <div class="media-body">-->
<!--        <h5 class="mt-0">Commenter Name</h5>-->
<!--        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->

<!--        <div class="media mt-4">-->
<!--            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
<!--            <div class="media-body">-->
<!--                <h5 class="mt-0">Commenter Name</h5>-->
<!--                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="media mt-4">-->
<!--            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
<!--            <div class="media-body">-->
<!--                <h5 class="mt-0">Commenter Name</h5>-->
<!--                Cras sit amet nibh slibero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->
{% endblock %}



